# This file is a template for the .env files used in the tests.
# There are three test environments:
# - devnet
# - testnet
# - mainnet
# For each test environment, you need to create a new '.env.{environment}' file and set the variables below.
# E.g.: for being able to run tests on testnet, you need to create a '.env.testnet' file, and assign the values below to the variables.

# use these variables to change the RPC base URLs:
HTTP_PROVIDER_URL=http_insert_end_point
WS_PROVIDER_URL=ws_insert_end_point

# these values are used in some account_test.go tests:
STARKNET_PRIVATE_KEY=0xprivate_key
STARKNET_PUBLIC_KEY=0xpublic_key
STARKNET_ACCOUNT_ADDRESS=0xaccount_address