name: (pull requests) - build, mock and devnet tests

permissions:
  contents: read

on:
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-22.04

    services:
      devnet:
        image: shardlabs/starknet-devnet-rs:0.4.0
        ports:
          - 5050:5050

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Run all mock tests
        continue-on-error: true
        run: go test -v ./...

      - name: wait for devnet to be up...
        run: ./.bin/devnet.sh

      - name: Test Account on devnet
        continue-on-error: true
        run: cd account && go test -timeout 120s -v -env devnet .
        env:
          HTTP_PROVIDER_URL: "http://localhost:5050"

      - name: Test RPC on devnet
        continue-on-error: true
        run: cd rpc && go test -timeout 120s -v -env devnet .
        env:
          HTTP_PROVIDER_URL: "http://localhost:5050/"

      - name: Build examples
        continue-on-error: true
        run: |
          cd examples/deployAccount && go build
          cd ../deployContractUDC && go build
          cd ../invoke && go build
          cd ../simpleCall && go build
          cd ../simpleDeclare && go build
          cd ../typedData && go build
          cd ../websocket && go build
