name: (all branches) Auto CI - all tests

on:
  push:
    branches-ignore:
      - 'main'      # excludes main
    tags-ignore:
      - '**'

jobs:
  build_and_test:
    runs-on: ubuntu-22.04

    services:
      devnet:
        image: shardlabs/starknet-devnet-rs:0.2.4
        ports:
          - 5050:5050

    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: wait for devnet to be up...
        run: ./.bin/devnet.sh

      # Test rpc on devnet
      - name: Test RPC on devnet
        run: cd rpc && go test -timeout 600s -v -env devnet .
        env:
          HTTP_PROVIDER_URL: "http://localhost:5050/"

      # Test rpc on mock
      - name: Test RPC with mocks
        run: cd rpc && go test -v .

      # Test rpc on testnet
      - name: Test RPC on testnet
        run: echo "Skip for now - TODO= need to finish rpc v08 test updates"
        #run: cd rpc && go test -timeout 1200s -v -env testnet .
        env:
          HTTP_PROVIDER_URL: ${{ secrets.TESTNET_HTTP_PROVIDER_URL}}
          WS_PROVIDER_URL: ${{ secrets.TESTNET_WS_PROVIDER_URL }}

      # Test rpc on mainnet
      - name: Test RPC with mainnet
        run: echo "Skip for now - TODO= need to finish rpc v08 test updates"
        #run: cd rpc && go test -timeout 600s -v -env mainnet .
        env:
          HTTP_PROVIDER_URL: ${{ secrets.MAINNET_HTTP_PROVIDER_URL}}
          WS_PROVIDER_URL: ${{ secrets.MAINNET_WS_PROVIDER_URL }}